COMMAKIT_LOG=false
COMMAKIT_ERROR_TRACKING=false
COMMAKIT_SENTRY_DSN=
COMMAKIT_ERROR_TRACKING_TIMEOUT=2
COMMAKIT_ERROR_TRACKING_CONNECT_TIMEOUT=1
COMMAKIT_ENVIRONMENT=development
COMMAKIT_USER_ID=
COMMAKIT_USER_EMAIL=
COMMAKIT_USER_NAME=
